<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="header"></div>
        <div id="section">
            <div id="realTimeData">
                <p style="text-decoration:underline">실시간 데이터</p>
                <div style="border:1px solid">
                    <img><br>
                    <p id="rtPeopleNum"></p>
                    <img><br>
                    <p id="rtPeopleNum"></p>
                    <img><br>
                    <p id="rtPeopleNum"></p>
                    <img><br>
                    <p id="rtPeopleNum"></p>
                    <p>현재 차량 수: 총 ~~~대</p>
                </div>
            </div>
            <div id="showData"></div>
        </div>
    </body>
</html>